/* Google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* Global styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'Times New Roman', sans-serif;
    font-size: 1rem;
}

/* Header ***************************/
.header {
  position: absolute;

}

.header > h1 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  padding: 20px 0 0 20px;
}

.header > h2 {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 0 0 20px;
}


/* Main  ******************************/
body {
  color: #172121;
  background-color: #CCDAD1;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Settings styles *************************/

.settings {
  display: flex;
  position: absolute;
  bottom: 10%;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.5),
  3px 3px 5px rgba(0, 0, 0, 0.23);
  padding: 15px 20px;
  border-radius: 10px;
}

.settings,
input,
button {
  align-items: center;
}

input[type='color']:hover {
  cursor: pointer;
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.1s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  margin-right: 5px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  background: none;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 18%;
  background: none;
}
/* Slider styling *****************************/
input[type="range"] {
  width: 100px;
  height: auto;
}

input[type="range"]:hover {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  transform: scale(1.07);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.slider-value {
  padding: 22px 0px 5px 0px
}

button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: #CCDAD1;
}

button:hover {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  transform: scale(1.03);
  border-radius: 5px;
}

button:hover:nth-child(n + 1) {
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.5),
  3px 3px 5px rgba(0, 0, 0, 0.3);
}

button:active {
  transition: transform 0.01s ease-in-out;
  transform: scale(1);
}

button:active:nth-child(n + 1) {
  box-shadow: inset -3px -5px 8px rgba(255, 255, 255, 0.5),
  inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Canvas styles ***************************/

.canvas-container {
  height: 100vh;
  width: 100vw;
}



/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer > p {
  font-size: .75rem;
  position: absolute;
  bottom: 20px;
}

